.header{
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.contact-band{
    background: #1b0b21;
    color: #dbdada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    width: 100%;
}

.contact-band a{
    text-decoration: none;
    color: #dbdada;
}

.contact-band img{
    width: 20px;
    width: 20px;
    margin-right: 3px;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 2em;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 0.2s ease;
}



.logo{
    width: 70px;
    height: 50px;
    border-radius: 2px;
    position: relative;
}

.logo img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.menu-button img{
    width: 50px;
    height: 50px;
    display: none;
    opacity: 0.75;
    transition: 0.1s ease;
}

.menu-button img:active{
    opacity: 0.4;
}

.nav-links{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s ease;
    font-size: large;
    font-weight: bold;
}

.nav-links a:active{
    color: #1b0b21;
}

.book-button{
    padding: 5px 10px;
    font-size: 1em;
    color: #eae9e9;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    cursor: pointer;
    transition: 0.2s ease;
}

.book-button:active{
    background: #040423;
}

.menu{
    position: fixed;
    top: 4.5em;
    left: -100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #040423;
    backdrop-filter: blur(8px);
    padding: 2em 1em;
    height: 85vh;
    width: 30vw;
    min-width: 120px;
    transition: 0.4s ease;
}
.menu.open{
    left: 0;
}

.menu-nav-links{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-nav-links a{
    text-decoration: none;
    color: #251515;
    transition: 0.2s ease; 
    font-weight: bold; 
    border-bottom: 1px solid #040423; 
}

.menu-nav-links a:active{
   opacity: 0.4;
}

.nav-bar.scrolled{
    background-color: #fdf6ea;
    border-bottom: 1px solid #040423;
    top: 0;
}

.scrolled .nav-links a{
    color: #040423;
}

.nav-links a:active.scrolled {
    opacity: 0.4;
}

.scrolled.nav-bar button{
    background: #040423;
}

@media(hover:hover){
    .nav-links a:hover{
        text-shadow:
            0 0 5px #f6647c,
            0 0 10px #f6647c,
            0 0 20px #f6647c;
    }

    .menu-nav-links a:hover{
        text-shadow:
            0 0 5px #f6647c,
            0 0 10px #f6647c,
            0 0 20px #f6647c;
    }

    .book-button:hover{
        transform: translateY(-5px);
        color: #f0ffff;
        border-color: #f0ffff;
        text-shadow: 0 0 10px #f0ffff;
    }
}

@media(max-width:950px){
    .contact-band,
    .nav-links, .header button{
        display: none;
    }
    .menu-button img{
        display: block;
    }
    .nav-bar{
        top: 0;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    }
}



